.serviceGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.serviceCard {
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #E0E0E0;
  /* max-width: 300px; */
  gap: 1rem;
}

.serviceCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .serviceGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
